{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "env": {
    "es6": true
  },
  "plugins": ["react", "flowtype"],
  "globals": {
    "fetch": false,
    "console": false,
    "setTimeout": false,
    "require": false
  },
  "rules": {
    "react/prop-types": ["warn", { "ignore": ["dispatch"] }],
    "react/no-string-refs": "warn",
    "comma-dangle": 0,
    "no-console": "warn"
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
